<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="main"><%- include("../partials/drivers") %></div>
    </body>
</html>
